<div class="col-md-12">
  <div class="group">
    <%= link_to("New Job", new_admin_job_path, class: "btn btn-sm btn-primary pull-right") %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>简历数量</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>
            <%= render_job_status(job)%>
            <%= job.title %>
          </td>
          <td><%= job.description %></td>
          <td><%= link_to(job.resumes.count, admin_job_resumes_path(job)) %></td>
          <td>
            <% if job.is_hidden %>
               <%= link_to("Publish", publish_admin_job_path(job), method: :post, class: "btn btn-sm btn-default")%>
            <% else %>
                 <%= link_to("Hide", hide_admin_job_path(job), method: :post, class: "btn btn-sm btn-default" )%>
            <% end %>
            <%= link_to("Edit", edit_admin_job_path(job), class: "btn btn-sm btn-default pull-right ")%>
            <%= link_to("Delete", admin_job_path(job), class: "btn btn-sm btn-default pull-right", method: :delete, data: { confirm: "Are you sure?"} )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
